In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
df = pd.read_csv("../input/transform_chicago.csv")

In [5]:
df

,POSTED_SPEED_LIMIT,WEATHER_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_HOUR,INJURIES_TOTAL
0,0.03,0.83,0.78,0.97,0.24,0.85
1,0.02,0.83,0.78,0.97,0.42,0.85
2,0.08,0.83,0.78,0.97,0.42,0.85
3,0.80,0.83,0.78,0.97,0.24,0.85
4,0.08,0.83,0.78,0.97,0.42,0.85
...,...,...,...,...,...,...
357553,0.80,0.83,0.78,0.97,0.42,0.13
357554,0.80,0.83,0.78,0.97,0.42,0.85
357555,0.80,0.83,0.78,0.97,0.26,0.13
357556,0.80,0.83,0.78,0.97,0.24,0.85
357557,0.07,0.83,0.78,0.97,0.26,0.85

In [6]:
def displacementCol(df):
    df = set(df)
    df = list(df)
    df = pd.Series(df)
    df = df.sort_values(ascending=False)
    
    return df

In [7]:
df_POSTED_SPEED_LIMIT = df['POSTED_SPEED_LIMIT']
df_POSTED_SPEED_LIMIT = displacementCol(df_POSTED_SPEED_LIMIT)
df1 = df_POSTED_SPEED_LIMIT
df1

1    0.80
2    0.08
3    0.07
0    0.03
4    0.02
dtype: float64

In [8]:
df_WEATHER_CONDITION = df['WEATHER_CONDITION']
df_WEATHER_CONDITION = displacementCol(df_WEATHER_CONDITION)
df2 = df_WEATHER_CONDITION
df2

0    0.83
1    0.09
4    0.04
2    0.03
3    0.01
dtype: float64

In [9]:
df_ROADWAY_SURFACE_COND = df['ROADWAY_SURFACE_COND']
df_ROADWAY_SURFACE_COND = displacementCol(df_ROADWAY_SURFACE_COND)
df3 = df_ROADWAY_SURFACE_COND
df3

0    0.78
1    0.15
3    0.04
4    0.02
2    0.01
dtype: float64

In [10]:
df_ROAD_DEFECT = df['ROAD_DEFECT']
df_ROAD_DEFECT = displacementCol(df_ROAD_DEFECT)
df4 = df_ROAD_DEFECT
df4

0    0.97
1    0.03
dtype: float64

In [11]:
df_CRASH_HOUR = df['CRASH_HOUR']
df_CRASH_HOUR = displacementCol(df_CRASH_HOUR)
df5 = df_CRASH_HOUR
df5

3    0.42
1    0.26
0    0.24
2    0.08
dtype: float64

In [16]:
table = pd.DataFrame(index=range(0,5), columns=['POSTED_SPEED_LIMIT', 'WEATHER_CONDITION', 'ROADWAY_SURFACE_COND', 'ROAD_DEFECT', 'CRASH_HOUR'])

In [22]:
table['POSTED_SPEED_LIMIT'] = df1
table['WEATHER_CONDITION'] = df2
table['ROADWAY_SURFACE_COND'] = df3
table['ROAD_DEFECT'] = df4
table['CRASH_HOUR'] = df5

In [23]:
table

,POSTED_SPEED_LIMIT,WEATHER_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_HOUR
0,0.03,0.83,0.78,0.97,0.24
1,0.80,0.09,0.15,0.03,0.26
2,0.08,0.03,0.01,NaN,0.08
3,0.07,0.01,0.04,NaN,0.42
4,0.02,0.04,0.02,NaN,NaN

[0.97, 0.03, nan, nan, nan]

---

<br>

# Simul

In [65]:
simul = pd.read_csv("../input/simulationData.csv")

In [66]:
simul

       start  speed     angle                end  PorF
0     (0, 0)     39  0.750492    (-36.568, 34.1)     0
1     (0, 0)     54  0.663225  (-39.401, 30.783)     0
2     (0, 0)     56  0.698132  (-38.302, 32.139)     0
3     (0, 0)     37  0.750492    (-36.568, 34.1)     0
4     (0, 0)     31  0.680678  (-38.857, 31.466)     0
...      ...    ...       ...                ...   ...
5569  (0, 0)     44  0.680678  (-38.857, 31.466)     0
5570  (0, 0)     42  0.767945  (-35.967, 34.733)     0
5571  (0, 0)     66  0.750492    (-36.568, 34.1)     0
5572  (0, 0)     42  0.663225  (-39.401, 30.783)     0
5573  (0, 0)     44  0.750492    (-36.568, 34.1)     0

[5574 rows x 5 columns]

In [67]:
simul = simul.drop(['start', 'end', 'PorF'], axis=1)
simul

      speed     angle
0        39  0.750492
1        54  0.663225
2        56  0.698132
3        37  0.750492
4        31  0.680678
...     ...       ...
5569     44  0.680678
5570     42  0.767945
5571     66  0.750492
5572     42  0.663225
5573     44  0.750492

[5574 rows x 2 columns]

# 1. Speed

In [68]:
# speed
simul["speed"].value_counts(normalize=True) * 100

42    2.332257
62    2.296376
32    2.260495
44    2.260495
73    2.242555
51    2.170793
31    2.170793
48    2.152853
64    2.152853
38    2.152853
47    2.134912
35    2.134912
43    2.116972
77    2.081091
49    2.063150
53    2.063150
68    2.063150
61    2.063150
37    2.063150
58    2.009329
70    2.009329
63    2.009329
74    1.991389
78    1.991389
66    1.973448
56    1.937567
41    1.919627
75    1.919627
60    1.901686
54    1.901686
65    1.901686
33    1.901686
69    1.901686
67    1.883746
50    1.865806
34    1.865806
76    1.847865
79    1.847865
55    1.847865
46    1.794044
59    1.794044
36    1.794044
45    1.776103
30    1.758163
40    1.722282
39    1.704342
80    1.686401
71    1.686401
57    1.650520
72    1.614639
52    1.614639
Name: speed, dtype: float64

In [69]:
simul["speed"].min()

30

In [70]:
def changeSpeed(x):
    if x >= 30 and x < 40: return 1
    elif x >= 40 and x < 50: return 2
    elif x >= 50 and x < 60: return 3
    elif x >= 60 and x < 70: return 4
    else: return 5
    
    
simul["speed"] = simul["speed"].apply(changeSpeed)

In [71]:
simul["speed"].value_counts(normalize=True) * 100

5    20.918550
2    20.272695
4    20.147112
1    19.806243
3    18.855400
Name: speed, dtype: float64

In [72]:
def changeSpeed2(x):
    if x == 5: return 0.21
    elif x == 2: return 0.2054
    elif x == 4: return 0.2046
    elif x == 1: return 0.195
    elif x == 3: return 0.185
    
    
simul["speed"] = simul["speed"].apply(changeSpeed2)

In [73]:
simul['speed'].value_counts(normalize=True) * 100

0.2100    20.918550
0.2054    20.272695
0.2046    20.147112
0.1950    19.806243
0.1850    18.855400
Name: speed, dtype: float64

<br>

# 2. Angle

In [74]:
simul["angle"].value_counts(normalize=True) * 100

0.767945    13.024758
0.750492    12.970936
0.715585    12.881234
0.680678    12.863294
0.698132    12.360962
0.663225    12.325081
0.733038    11.894510
0.645772    11.679225
Name: angle, dtype: float64

In [75]:
angle = simul['angle']
angle = displacementCol(angle)
angle

6    0.767945
0    0.750492
7    0.733038
2    0.715585
4    0.698132
3    0.680678
1    0.663225
5    0.645772
dtype: float64

In [76]:
import math

def angle2(df):
    angle2 = []
    
    for i in range(len(df)):
        y = df[i]
        x = y * (180 / math.pi)
        angle2.append(x)
    
    good = pd.Series(angle2)
    return good

In [77]:
good = angle2(simul['angle'])

In [78]:
simul['angle2'] = good

In [79]:
simul

       speed     angle  angle2
0     0.1950  0.750492    43.0
1     0.1850  0.663225    38.0
2     0.1850  0.698132    40.0
3     0.1950  0.750492    43.0
4     0.1950  0.680678    39.0
...      ...       ...     ...
5569  0.2054  0.680678    39.0
5570  0.2054  0.767945    44.0
5571  0.2046  0.750492    43.0
5572  0.2054  0.663225    38.0
5573  0.2054  0.750492    43.0

[5574 rows x 3 columns]

In [80]:
simul["angle2"].value_counts(normalize=True) * 100

44.0    13.024758
43.0    12.970936
41.0    12.881234
39.0    12.863294
40.0    12.360962
38.0    12.325081
42.0    11.894510
37.0    11.679225
Name: angle2, dtype: float64

In [81]:
def changeAngle(x):
    if x >= 37.0 and x <= 38.0: return 1
    elif x >= 39.0 and x <= 40.0: return 2
    elif x >= 41.0 and x <= 42.0: return 3
    else: return 4
    
simul["angle2"] = simul["angle2"].apply(changeAngle)

In [83]:
simul['angle2'].value_counts(normalize=True) * 100

4    25.995694
2    25.224255
3    24.775745
1    24.004306
Name: angle2, dtype: float64

In [84]:
def changeAngle2(x):
    if x == 4: return 0.27
    elif x == 2: return 0.26
    elif x == 3: return 0.25
    elif x == 1: return 0.22
    
simul["angle2"] = simul["angle2"].apply(changeAngle2)

In [86]:
simul = simul.drop('angle', axis=1)
simul

       speed  angle2
0     0.1950    0.27
1     0.1850    0.22
2     0.1850    0.26
3     0.1950    0.27
4     0.1950    0.26
...      ...     ...
5569  0.2054    0.26
5570  0.2054    0.27
5571  0.2046    0.27
5572  0.2054    0.22
5573  0.2054    0.27

[5574 rows x 2 columns]

In [92]:
df6 = simul['speed']
df6 = displacementCol(df6)
df6

2    0.2100
4    0.2054
1    0.2046
0    0.1950
3    0.1850
dtype: float64

In [93]:
df7 = simul['angle2']
df7 = displacementCol(df7)
df7

0    0.27
1    0.26
3    0.25
2    0.22
dtype: float64

In [94]:
table['speed'] = df6
table['angle'] = df7

In [95]:
table

,POSTED_SPEED_LIMIT,WEATHER_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_HOUR,speed,angle
0,0.03,0.83,0.78,0.97,0.24,0.1950,0.27
1,0.80,0.09,0.15,0.03,0.26,0.2046,0.26
2,0.08,0.03,0.01,NaN,0.08,0.2100,0.22
3,0.07,0.01,0.04,NaN,0.42,0.1850,0.25
4,0.02,0.04,0.02,NaN,NaN,0.2054,NaN

In [96]:
table.to_csv('table.csv', index=False)