In [3]:
import pandas as pd
import numpy as np

table = pd.read_csv('../input/table.csv')

In [99]:
table

,POSTED_SPEED_LIMIT,WEATHER_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_HOUR,speed,angle
0,0.03,0.83,0.78,0.97,0.24,0.1950,0.27
1,0.80,0.09,0.15,0.03,0.26,0.2046,0.26
2,0.08,0.03,0.01,NaN,0.08,0.2100,0.22
3,0.07,0.01,0.04,NaN,0.42,0.1850,0.25
4,0.02,0.04,0.02,NaN,NaN,0.2054,NaN

In [100]:
import random

def createNewData(df, end):
    temp = df

    nd = pd.DataFrame(index=range(0,0), columns=['POSTED_SPEED_LIMIT', 'WEATHER_CONDITION', 'ROADWAY_SURFACE_COND', 'ROAD_DEFECT', 'CRASH_HOUR', 'speed', 'angle'])

    x1 = list(temp['POSTED_SPEED_LIMIT'])
    x2 = list(temp['WEATHER_CONDITION'])
    x3 = list(temp['ROADWAY_SURFACE_COND'])

    x4 = list(temp['ROAD_DEFECT'])
    del x4[2:]

    x5 = list(temp['CRASH_HOUR'])
    del x5[4]

    x6 = list(temp['speed'])

    x7 = list(temp['angle'])
    del x7[4]

    for i in range(end):
        row = []
        row.append(random.choice(x1))
        row.append(random.choice(x2))
        row.append(random.choice(x3))
        row.append(random.choice(x4))
        row.append(random.choice(x5))
        row.append(random.choice(x6))
        row.append(random.choice(x7))

        nd.loc[i] = row

    return nd

In [182]:
new_data = createNewData(table, 1000)

In [183]:
new_data

,POSTED_SPEED_LIMIT,WEATHER_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_HOUR,speed,angle
0,0.08,0.01,0.04,0.03,0.42,0.2046,0.25
1,0.03,0.03,0.78,0.03,0.08,0.2046,0.22
2,0.80,0.01,0.01,0.97,0.42,0.1850,0.25
3,0.08,0.03,0.01,0.03,0.26,0.2100,0.22
4,0.03,0.04,0.04,0.03,0.26,0.1850,0.22
...,...,...,...,...,...,...,...
995,0.07,0.09,0.04,0.97,0.42,0.1950,0.25
996,0.03,0.09,0.78,0.03,0.08,0.2100,0.22
997,0.80,0.03,0.78,0.03,0.24,0.2054,0.22
998,0.07,0.83,0.04,0.97,0.26,0.2100,0.25
999,0.03,0.83,0.15,0.97,0.26,0.1850,0.26

In [184]:
# new_data.to_csv('new_data.csv', index=False)
new_data['speed'][500]

0.195

In [185]:
model = new_data

---

<br>

In [186]:
def computeY(df):
    fx1 = []
    fx2 = []
    
    for i in range(len(df)):
        res1 = 0.75*df['POSTED_SPEED_LIMIT'][i] + 0.1375*df['WEATHER_CONDITION'][i] + 0.1425*df['ROADWAY_SURFACE_COND'][i] + 0.1375*df['ROAD_DEFECT'][i] + 0.1775*df['CRASH_HOUR'][i] + 0.0225*df['speed'][i] + 0.1075*df['angle'][i]
        res2 = 0.0546*df['POSTED_SPEED_LIMIT'][i] + 0.1093*df['WEATHER_CONDITION'][i] + 0.1093*df['ROADWAY_SURFACE_COND'][i] + 0.1694*df['ROAD_DEFECT'][i] + 0.1913*df['CRASH_HOUR'][i] + 0.2404*df['speed'][i] + 0.1257*df['angle'][i]
        
        fx1.append(res1)
        fx2.append(res2)
        
    fx1 = pd.Series(fx1)
    fx2 = pd.Series(fx2)
    
    df['fx1'] = fx1
    df['fx2'] = fx2

In [187]:
computeY(model)

In [188]:
model[['fx1', 'fx2']]

          fx1       fx2
0    0.177229  0.175872
1    0.184354  0.187397
2    0.841763  0.366429
3    0.144200  0.141698
4    0.111787  0.137330
..        ...       ...
995  0.309762  0.340998
996  0.192725  0.195253
997  0.790272  0.260239
998  0.383450  0.394878
999  0.369637  0.399964

[1000 rows x 2 columns]

In [126]:
print("산술평균 4명꺼:" + str(model['fx1'].min()) + " ~ " + str(model['fx1'].max()))

산술평균 4명꺼:0.0658035 ~ 1.0348785000000003

In [125]:
print("산술평균 2명꺼:" + str(model['fx2'].min()) + " ~ " + str(model['fx2'].max()))

산술평균 2명꺼:0.099617 ~ 0.513049

In [140]:
# 1.0 넘는 fx1 행들 삭제
index = model[model['fx1'] >= 1.0].index
model = model.drop(index)

In [179]:
model

,POSTED_SPEED_LIMIT,WEATHER_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_HOUR,speed,angle,fx1,fx2
0,0.03,0.04,0.01,0.97,0.24,0.1950,0.26,0.237737,0.296893
1,0.03,0.03,0.78,0.97,0.42,0.2054,0.27,0.379347,0.418152
2,0.07,0.09,0.15,0.97,0.26,0.1850,0.22,0.293588,0.316238
3,0.03,0.03,0.01,0.97,0.24,0.1950,0.27,0.237437,0.297057
4,0.80,0.04,0.01,0.03,0.26,0.1850,0.27,0.690388,0.182378
...,...,...,...,...,...,...,...,...,...
995,0.02,0.01,0.02,0.03,0.08,0.2100,0.26,0.070225,0.107923
996,0.03,0.01,0.15,0.97,0.08,0.2100,0.25,0.224425,0.280657
997,0.80,0.04,0.04,0.97,0.26,0.1850,0.26,0.822838,0.343636
998,0.07,0.03,0.78,0.97,0.08,0.1850,0.25,0.346388,0.347876
999,0.02,0.03,0.02,0.03,0.08,0.1950,0.27,0.073713,0.107760

In [150]:
model.to_csv('result.csv', index=False)

In [143]:
fx1 = model['fx1']

In [145]:
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style

In [151]:
len(model[model['fx1'] < 0.3])

583

In [163]:
x1 = model[model['fx1'] >= 0.3].index
x2 = model[model['fx1'] < 0.5].index
len(x1 & x2)

203

In [164]:
x3 = model[model['fx1'] >= 0.5].index
x4 = model[model['fx1'] < 0.7].index
len(x3 & x4)

48

In [167]:
len(model[model['fx1'] >= 0.7])

163

<br>

<br>

---

In [168]:
df1 = pd.read_csv('../input/TRANSFORM/POSTED_SPEED_LIMIT.csv')
df1

  POSTED_SPEED_LIMIT  weight
0             0 ~ 10    0.03
1            10 ~ 20    0.07
2            20 ~ 30    0.80
3            30 ~ 40    0.08
4              40 ~     0.02

In [169]:
df2 = pd.read_csv('../input/TRANSFORM/WEATHER_CONDITION.csv')
df2

  WEATHER_CONDITION  weight
0             CLEAR    0.83
1              RAIN    0.09
2              SNOW    0.04
3   CLOUDY/OVERCAST    0.03
4             OTHER    0.01
5               NaN     NaN
6               NaN     NaN
7               NaN     NaN
8               NaN     NaN
9               NaN     NaN

In [170]:
df2.dropna()

  WEATHER_CONDITION  weight
0             CLEAR    0.83
1              RAIN    0.09
2              SNOW    0.04
3   CLOUDY/OVERCAST    0.03
4             OTHER    0.01

In [171]:
df3 = pd.read_csv('../input/TRANSFORM/ROADWAY_SURFACE_COND.csv')
df3

  ROADWAY_SURFACE_COND  weight
0                  DRY    0.78
1                  WET    0.15
2        SNOW OR SLUSH    0.04
3                  ICE    0.02
4      SAND, MUD, DIRT    0.01

In [172]:
df4 = pd.read_csv('../input/TRANSFORM/ROAD_DEFECT.csv')
df4

  ROAD_DEFECT  weight
0  NO DEFECTS    0.97
1       OTHER    0.03

In [176]:
df5 = pd.read_csv('../input/TRANSFORM/CRASH_HOUR.csv')
df5

  CRASH_HOUR  weight
0        1~6    0.08
1       6~11    0.26
2      12~18    0.42
3       18~0    0.24

In [177]:
df6 = pd.read_csv('../input/TRANSFORM/SPEED.csv')
df6

   SPEED  weight
0  30~40  0.1950
1  40~50  0.2054
2  50~60  0.1850
3  60~70  0.2046
4    70~  0.2100

In [178]:
df7 = pd.read_csv('../input/TRANSFORM/ANGLE.csv')
df7

   ANGLE  weight
0  37~38    0.22
1  39~40    0.26
2  41~42    0.25
3    42~    0.27

In [7]:
df10 = pd.read_csv('result.csv')

In [8]:
df10

,POSTED_SPEED_LIMIT,WEATHER_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_HOUR,speed,angle,fx1,fx2
0,0.03,0.04,0.01,0.97,0.24,0.1950,0.26,0.237737,0.296893
1,0.03,0.03,0.78,0.97,0.42,0.2054,0.27,0.379346,0.418152
2,0.07,0.09,0.15,0.97,0.26,0.1850,0.22,0.293588,0.316238
3,0.03,0.03,0.01,0.97,0.24,0.1950,0.27,0.237437,0.297057
4,0.80,0.04,0.01,0.03,0.26,0.1850,0.27,0.690388,0.182378
...,...,...,...,...,...,...,...,...,...
992,0.02,0.01,0.02,0.03,0.08,0.2100,0.26,0.070225,0.107923
993,0.03,0.01,0.15,0.97,0.08,0.2100,0.25,0.224425,0.280657
994,0.80,0.04,0.04,0.97,0.26,0.1850,0.26,0.822838,0.343636
995,0.07,0.03,0.78,0.97,0.08,0.1850,0.25,0.346388,0.347876
996,0.02,0.03,0.02,0.03,0.08,0.1950,0.27,0.073713,0.107760

In [10]:
df10['fx1'].max()

0.9749215

In [11]:
df10['fx1'].min()

0.0658035

In [12]:
df10[df10['fx1'] == 0.9749215]

,POSTED_SPEED_LIMIT,WEATHER_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_HOUR,speed,angle,fx1,fx2
602,0.8,0.83,0.15,0.97,0.42,0.2054,0.25,0.974921,0.476261

In [13]:
df10[df10['fx1'] == 0.0658035]

,POSTED_SPEED_LIMIT,WEATHER_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_HOUR,speed,angle,fx1,fx2
302,0.02,0.01,0.02,0.03,0.08,0.2046,0.22,0.065804,0.101597